@model IEnumerable<RealEstateProject.Models.Staff>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Staff Details</title>
    <style>
        body {
            background-color: lavender;
        }

        h1 {
            color: red;
            font-size: 30px;
            text-align: center;
        }

        th {
            color: mediumvioletred;
            text-align: center;
            font-size: 25px;
        }

        td {
            color: darkblue;
            text-align: center;
            font-size: 20px;
        }

        p {
            color: maroon;
            text-align: center;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <h1>
        <u>
            Staff Details
        </u>
    </h1>
    <center>
    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branches.BranchNo)
            </th>
            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branches.BranchNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StaffNo }) 
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.StaffNo })
            
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.StaffNo })
            </td>
        </tr>
    }
    
    </table>
    </center>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

</body>
</html>
