@model RealEstateProject.Models.Owner

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create New Owner</title>
</head>
<body style="background-color:lavender">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        <center>
            <div class="form-horizontal">
                <h4 style="color:red;font-size:30px"><u>New Owner</u></h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="color:mediumvioletred;font-size:25px">
                    @Html.LabelFor(model => model.OwnerNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="color:blueviolet;font-size:20px">
                        @Html.EditorFor(model => model.OwnerNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OwnerNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color:mediumvioletred;font-size:25px">
                    @Html.LabelFor(model => model.Fname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="color:blueviolet;font-size:20px">
                        @Html.EditorFor(model => model.Fname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color:mediumvioletred;font-size:25px">
                    @Html.LabelFor(model => model.Lname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="color:blueviolet;font-size:20px">
                        @Html.EditorFor(model => model.Lname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Lname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group"style="color:mediumvioletred;font-size:25px">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="color:blueviolet;font-size:20px">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="color:mediumvioletred;font-size:25px">
                    @Html.LabelFor(model => model.TelNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="color:blueviolet;font-size:20px">
                        @Html.EditorFor(model => model.TelNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TelNo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default"  style="color:darkblue;font-size:20px"/>
                    </div>
                </div>
            </div>
        </center>
    }
    
    <center>
        <div style="color:darkblue;font-size:25px">
            @Html.ActionLink("Back to Owner Details", "Index")
        </div>
    </center>
</body>
</html>
